<header class="navbar">
  <div class="container">
    <a href="#" class="logo" routerLink="/">CoolApp</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/list">List</a></li>
        <li><a href="#" routerLink="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <p>Designed by <a href="https://github.com/Davi-Silva" target="_blank" rel="noopener noreferrer">Davi Silva</a></p>
  </div>
</footer>